<h1>Meet Single Cockroaches In Your Area</h1>


<% array = [] %>
  <% if @current_user %>
    <% @cockroaches.each do |cockroach| %>
      <% @current_user.matches.each do |match| %>
        <% if match.cockroach_id == cockroach.id %>
          <% array << match.cockroach %>
        <%end%>
      <%end%>
    <%end%>
    <% current_array = @cockroaches - array %>
    <% current_array.each do |cockroach| %>
    <div class="grid-container"><div><img class="index-img" src="<%= cockroach.img_url %>" width="350" ><br><%=link_to cockroach.name, cockroach_path(cockroach.id)%></div></div>
  <%end%>
<% end %>


----------------------------------------------------------------


<% leftover = [] %>
<% leftover = @cockroaches%>



<% leftover.each do |roach| %>
  <div class="grid-container">
  <div><img class="index-img" src="<%= roach.img_url %>" width="350" ><br><%=link_to roach.name, cockroach_path(roach.id)%> </div>
<% end %>
</div>