<h1>Meet Single Cockroaches In Your Area</h1>

<% @cockroaches.each do |roach| %>
<div class="grid-container">
  <div><img class="index-img" src="<%= roach.img_url %>" width="350" ><br><%=link_to roach.name, cockroach_path(roach.id)%> </div>
</div>
  <% end %>